{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>


    <link href="{% static "plantilla_admin/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static "plantilla_admin/vendor/metisMenu/metisMenu.min.css" %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static "plantilla_admin/dist/css/sb-admin-2.css" %}"  rel="stylesheet">

    <!-- Page level plugin CSS-->
    <link href="{% static "plantilla_admin/vendor/morrisjs/morris.css" %}"  rel="stylesheet">
    <link href="{% static "plantilla_admin/vendor/font-awesome/css/font-awesome.min.css" %}"  rel="stylesheet">








    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  {% include "base/menu.html"%}
  <div class="content-wrapper">
    {% block content %}
    {% endblock %} 

   



    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    {% block footer %}
       {% include "base/footer.html"%}      
    {% endblock %}


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">¿Estás seguro que deseas salir?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="{% url 'logout_' %}">Cerrar sesión</a>
          </div>
        </div>
      </div>
    </div>

 

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static "plantilla_admin/vendor/bootstrap/js/bootstrap.min.js" %}" ></script>
    <script src="{% static "plantilla_admin/vendor/metisMenu/metisMenu.min.js" %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static "plantilla_admin/vendor/raphael/raphael.min.js" %}"></script>
    
    <script src="{% static "plantilla_admin/dist/js/sb-admin-2.js" %}"></script>

    {% block js %}
     {% endblock %}
    

   </div>

</body>



</html>











