{% extends "base/base.html" %}
{% block content %}
<h3>Pacientes</h3>


<div class = "container"> 


  <div class = "row">
   <div class="col-md-3"></div>


        
          <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTables" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th >Nombres paciente</th>
                <th >Fecha de nacimiento</th>
                <th >Documento</th>
                <th >Teléfono</th>
                    
                </tr>
          
             </thead> 
           

              <tbody>
              {% if object_list %}
              {% for actividad in object_list %}
              <tr onclick="return abrir_modal('{% url 'detail_patient'  actividad.patient.id  %}')" >
                <td>{{ actividad.patient.first_name }} {{ actividad.patient.last_name }} </td>
                <td>{{ actividad.patient.born_date }}</td>
                <td>{{ actividad.patient.phone }}</td>
                <td>{{ actividad.patient.document }}</td>
               
  
              </tr>
              {% endfor %}
              
              {% else %}
              <h1>No hay registros de actividades</h1>
              {% endif %}
            </tbody>

              
            </table>
          </div>
        
     </div>
   
    <div id="popup" class="modal fade" role="dialog">

    </div>
    <!-- /.container-fluid-->
</div>



{% endblock %}
